%html
  %head
    %title= "Switter"
  
  %body{:style => "background-image: url(\"" + image_url("Sprinkles.png") + "\");"}
    %div.row
      %div.large-12.columns  
        %div.panel#banner
          %h1#brand= 'switter'

    %div.row 
      %div.large-3.columns
        %div.panel
          %a#image{:href => "#"}
            %img{:src => image_url("negascott.gif")}
          %h5
            %a{:href => "#"} User Name Here
          %div.section-container.vertical-nav
            %section.section
              %h5.title
                %a{:href => "#"} Menu Opt 1
            %section.section
              %h5.title
                %a{:href => "#"} Menu Opt 2
            %section.section
              %h5.title
                %a{:href => "#"} Menu Opt 3

      %div.large-9.columns
        %div.panel
          = form_for Swit.new do |f|
            %textarea{:name => "swit[text]", :autofocus => true, :maxlength => 140}
            %input{:type => "text", :name => "swit[poster]"}
            = f.submit
          
      
        - @swits.order('created_at DESC').each do |swit|
          %div.row.panel
            .large-2.columns.small-3
              %img{:src => image_url('doodle-jump.jpg')}
            .large-10.columns
              %h3= swit.text
              %a{:href => "#"}
                %em
                  = '@' + swit.poster
              %br
                -time = swit.created_at-DateTime.now
                -time = time.to_i
                -time*=-1
                -if time<60
                  - age = pluralize(time, 'second') + " ago"
                -elsif time<3600
                  - time = time/60
                  - age = pluralize(time, 'minute') + " ago"
                -elsif time<86400
                  - time = time/3600
                  - age = pluralize(time, 'hour') + " ago"
                -else
                  - age = swit.created_at.strftime "%B %-d, %Y"
                = link_to age, swit
                = '.'
                = link_to 'Edit', edit_swit_path(swit)
                = '.'
                = link_to 'Destroy', swit, method: :delete, data: { confirm: 'Are you sure?' }
                = '.'
                = pluralize(Sweet.where("swit_id = " + swit.id.to_s, params[:id]).count, "Sweet")
                ='.'
                = pluralize(Sour.where("swit_id = " + swit.id.to_s, params[:id]).count, "Sour")

                = form_for([swit, swit.sweets.build]) do |f|
                  .small-1.columns= f.text_field :voter, :value => 'user'
                  .small-5.columns= f.submit
                = form_for([swit, swit.sours.build]) do |f|
                  .small-1.columns= f.text_field :voter, :value => 'user'
                  .small-5.columns= f.submit
                  
              
                - swit.comments.each do |com|
                  %em= "@" + com.commenter
                  = "said"
                  %br
                  = com.comment
                  %br
                  %br

                = form_for([swit, swit.comments.build]) do |f|
                  = f.text_field :commenter, :value => 'user'
                  = f.text_area :comment, :placeholder => "Write a comment..."
                  = f.submit  